.Header_box{
    background-color: rgb(250, 250, 250);
    /* position: absolute; */
    height: 50px;
    width: 100%;
    display: inline-flex;
    position: fixed;
    z-index: 1;
}
.Header_box .logo_box{

    height: 100%;
    width: 150px;
    margin-left: 80px;
}
.Header_box .logo_box img{
    height: 50px;
    
}
.Header_box .tags{
    text-decoration: none;
    margin-right: 120px;
    margin-left: auto;
    display: inline-flex;
    list-style: none;
    
}
.Header_box .tags li{
    margin: 0 15px;
}
.Header_box .tags li a{
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(50, 50, 50);
}
.Header_box .tags li a span:hover{
    border-bottom: 2px solid red;
}